body {
	font-family: 'Roboto', sans-serif;
	background-color: #edeef0;
}
span, p, h1 {
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

.table {
	background-color: #fff;
	margin-bottom: 2em;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1);
}

.table__header {
	display: flex;
	justify-content: space-between;
	padding: 1em 0;
	text-align: center;
	background-color: #cacaca;
	font-weight: 500;
}

.table__header div {
	flex: 1;
}

.row {
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 1em 0;
	font-weight: 100;
}

.row div {
	flex: 1;
}