<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h3>Departamento</h3>
		<div class="table">
			<div class="table__header">
				<div>Código</div>
				<div>Nombre</div>
				<div>Código padre</div>
				<div>Descripcion padre</div>
			</div>
			<div class="table__body">
				{% for deparment in departments %}
					<div class="row">
						<div>{{ deparment.code }}</div>
						<div>{{ deparment.name }}</div>
						<div>-</div>
						<div>-</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<h3>Provincia</h3>
		<div class="table">
			<div class="table__header">
				<div>Código</div>
				<div>Nombre</div>
				<div>Código padre</div>
				<div>Descripcion padre</div>
			</div>
			<div class="table__body">
				{% for province in provinces %}
					<div class="row">
						<div>{{ province.code }}</div>
						<div>{{ province.name }}</div>
						<div>{{ province.departmentCode }}</div>
						<div>{{ province.deparmentName }}</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<h3>Distrito</h3>
		<div class="table">
			<div class="table__header">
				<div>Código</div>
				<div>Nombre</div>
				<div>Código padre</div>
				<div>Descripcion padre</div>
			</div>
			<div class="table__body">
				{% for distrit in distrits %}
					<div class="row">
						<div>{{ distrit.code }}</div>
						<div>{{ distrit.name }}</div>
						<div>{{ distrit.provinceCode }}</div>
						<div>{{ distrit.provinceName }}</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</body>
</html>